version: '3'

services:
  # cloudflare tunnel
  cloudflare-tunnel:
    image: cloudflare/cloudflared:lts
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    env_file: stack.env
    networks:
      - cloudflare-network

networks:
  cloudflare-network:
    driver: bridge
