services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
    networks:
      - jalur_ipv6_network      # network tambahan (sudah ada)

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: portainer_network
  jalur_ipv6_network:
    external: true              # gunakan network yang sudah ada
